* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo,
.nav-link {
    font-family: 'Bebas Neue', cursive;
}

li {
    list-style: none;
}

.nav-bar {
    height: 14vh;
}

.nav-bar,
.nav-list,
.landing-container,
.logo-container,
.left,
.right {
    display: flex;
}

.logo-container {
    width: 42vw;
    justify-content: center;
    align-items: center;
    background-color: #e8c044;
    border: solid 1px #272727;
}

.nav-container {
    width: 58vw;
    background-color: #bebfc1;
    border: solid 1px #272727;
}

.nav-list {
    height: 14vh;
    justify-content: space-evenly;
    align-items: center;

}

.logo,
h1 {
    color: #1a1e45;
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

.nav-link {
    color: #1a1e45;
    font-size: 48px;
    text-decoration: none;
}

.nav-link:visited {
    color: #1a1e45;
}

.nav-link:hover {
    text-decoration: underline;
    color: #e8c044;
    -webkit-text-stroke: 2px #272727;
}

/* footer styles start */
.footer {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #bebfc1;
    color: #1a1e45;
}

/* landing page styles */

.left {
    width: 42vw;
    background-color: #e8c044;
    height: 86vh;
    justify-content: center;
    align-items: center;
    border: solid 1px #272727;
}

.portrait {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.right {
    width: 58vw;
    height: 86vh;
    background-color: #272727;
    justify-content: center;
    align-items: center;
    border: solid 1px #272727;
}

.name {
    font-size: 128px;
    font-weight: bold;
    color: #e8c044;
    text-decoration: underline;
}

/* hobby and about styles */
.header {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #e8c044;
}

.section,
.hobby-left,
.hobby-right {
    display: flex;
}

.section {
    padding: 50px 0;
}

.hobby-left,
.hobby-right {
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.section-one,
.section-three {
    background-color: #272727;
}

.section-two {
    background-color: #bebfc1;
}

.text-gold {
    color: #e8c044;
}

.text-blue {
    color: #1a1e45;
}

.hobby-img {
    width: 200px;
    height: 200px;
}